#content{
	width:650px;
}
.login-form{
	width:350px;
	height:500px;
	border-bottom:1px solid black;
	margin: 0 auto;
}
#content{
    height: 100vh;
    width: 100vw;
    /* background-size: cove;
    background-repeat: no-repeat; */
 }
#pwdfield{
	position: relative;
	top:50px;
}
#loginbtn{
	position: relative;
	top:100px;
}
#loginbtn2{
	position: relative;
	top:110px;
}
* {
    margin: 0;
    padding: 0;
}

.image {
    height: 160px;
}

.navbar ul {
    display: flex;
    font-size: 20px;
}
.navbar {
    padding-top: 20px;
    /* font-family: Lordcorps Stencil; */
    height: 6vh;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    margin-right: 40px;
    text-decoration: none;
    color: #000;
    /* transition: 1s; */
}
.bar ul li a:hover {
    background-color: #96e953;
    transition: all 1s;
}

.Footer {
    width: 100%;
    height: 10vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #000;
}

@media only screen and (max-width:1300px) {
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

    }

    main {
        height: calc(100%-25vh);
    }

    .navbar ul li a {
        color: rgba(49, 78, 107, 0.642);
    }

    .navbar ul {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:1160px) {
    .div1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        position: static;
    }

    .navbar ul {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        text-align: center;
    }
    .navbar ul li {
        margin: 10px 0px;
    }

    .image {
        align-items: center;
        height: 100px;
        padding: 22px 27px 0 10px;
    }
}